
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <span>Plant Control Administration</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" matTooltip="Administrate Plants">
      <mat-icon>forest</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" matTooltip="Administrate Dataloggers" routerLink="/loggers">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>

  </mat-toolbar>


</p>

<router-outlet></router-outlet>
