.container {
  flex-grow: 1;

  margin: 0 auto;
  padding: 32px;
  width: 1024px;
  min-width: 512px;
}

.wrapper {
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;

  height: 100%;
}
