
.root {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
}

.flex-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-form > * {
  padding: 20px;
  height: 100%;
  margin: 8px;
}

.list {
  max-height: 60vh;
}
